body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}
.style {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: grey;
  width: 20vw;
  height: 30vh;
  padding-top: 5px;
  gap: 4px;
  overflow: scroll;
}

.style2 {
  display: flex;
  gap: 5px;
}
.style3 {
  background-color: white;
  border-radius: 2px;
  width: 18vw;
  height: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding-left: 5px;
}

.button {
  background-color: darkslateblue;
  border: solid darkslateblue;
  border-radius: 5px;
}
.button:hover {
  background-color: rgb(45, 39, 86);
  color: white;
}
.button2 {
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: solid red;
  border-radius: 3px;
  width: 2vw;
  height: 2vh;
}
.button2:hover {
  background-color: rgb(182, 0, 0);
  border: solid rgb(182, 0, 0);
  color: white;
}
.button3 {
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border: solid green;
  border-radius: 3px;
  width: 2vw;
  height: 2vh;
}
.button3:hover {
  background-color: rgb(0, 91, 0);
  border: solid rgb(0, 91, 0);
  color: white;
}
.style5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-right: 5px;
}

.button4 {
  background-color: deeppink;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: deeppink;
  border: solid deeppink;
  border-radius: 3px;
  width: 2vw;
  height: 2vh;
}
.button4:hover {
  background-color: rgb(220, 2, 118);
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 2, 118);
  border: solid rgb(220, 2, 118);
  border-radius: 3px;
  width: 2vw;
  height: 2vh;
  color: white;
}
.inputStyle {
  width: 5vw;
  height: 1.5vh;
  font-size: 10px;
}
.button5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 10px;
  width: 2vw;
  height: 2vh;
  background-color: chartreuse;
  border: solid chartreuse;
}
.button5:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 10px;
  width: 2vw;
  height: 2vh;
  background-color: rgb(93, 186, 0);
  border: solid rgb(96, 191, 0);
}

.bgStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
